@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";

@theme {
  /* Your theme variables */
}

:root {
  --foreground: rgb(0, 0, 0);
  --background: rgb(245, 245, 245);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}